package {{packageName}};

public class {{className}} {
  private {{className}}() {}

  {{#template}}
  public static {{returnType}} {{methodName}}() {
    return new {{constructor}}();
  }

  {{/template}}
}