package {{packageName}};
public class {{className}} {
  private final String baseUri;
  private final io.github.tomboyo.lily.http.UriTemplate pathTemplate;
  private final io.github.tomboyo.lily.http.UriTemplate queryTemplate;
  private final java.net.http.HttpClient httpClient;
  private final com.fasterxml.jackson.databind.ObjectMapper objectMapper;

  private Query query;
  {{#hasPathParameters}}
  private Path path;
  {{/hasPathParameters}}
  private Headers headers;
  {{#bodyFqpt}}
  private {{{bodyFqpt}}} body;
  {{/bodyFqpt}}

  public {{className}}(
      String baseUri,
      java.net.http.HttpClient httpClient,
      com.fasterxml.jackson.databind.ObjectMapper objectMapper) {
    // We assume uri is non-null and ends with a trailing '/'.
    this.baseUri = baseUri;
    this.pathTemplate = io.github.tomboyo.lily.http.UriTemplate.of("{{{pathTemplate}}}");
    this.queryTemplate = io.github.tomboyo.lily.http.UriTemplate.of("{{{queryTemplate}}}");
    this.httpClient = httpClient;
    this.objectMapper = objectMapper;

    {{#hasPathParameters}}this.path = new Path();{{/hasPathParameters}}
    this.query = new Query();
    this.headers = new Headers();
  }

  {{#hasPathParameters}}
  /** Configure path parameters for this operation, if any. */
  public {{className}} path(java.util.function.Function<Path, Path> path) {
    this.path = path.apply(this.path);
    return this;
  }

  {{/hasPathParameters}}
  /** Configure query parameters for this operation, if any. */
  public {{className}} query(java.util.function.Function<Query, Query> query) {
    this.query = query.apply(this.query);
    return this;
  }

  /** Configure headers for this operation, if any. */
  public {{className}} headers(java.util.function.Function<Headers, Headers> headers) {
    this.headers = headers.apply(this.headers);
    return this;
  }

  {{#bodyFqpt}}
  /** Configure the request body. */
  public {{className}} body({{{bodyFqpt}}} body) {
    this.body = body;
    return this;
  }
  {{/bodyFqpt}}


  /** Get the base URI of the service (like {@code "https://example.com/"}). It always
    * ends with a trailing slash.
    */
  public String baseUri() {
    return this.baseUri;
  }

  /** Get this operation's relative path interpolated with any bound parameters. The
    * path is always relative, so it does not start with a "/".
    */
  public String pathString() {
    {{#pathSmartFormEncoder}}
    var smartFormEncoder = io.github.tomboyo.lily.http.encoding.Encoders.smartFormExploded();
    {{/pathSmartFormEncoder}}
    return this.pathTemplate
    {{#pathParameters}}
      .bind("{{apiName}}", this.path.{{name}}, {{{encoder}}})
    {{/pathParameters}}
      .toString();
  }

  /** Get the query string for this operation and any bound parameters. */
  public String queryString() {
    {{#querySmartFormEncoder}}
    var smartFormEncoder = io.github.tomboyo.lily.http.encoding.Encoders.smartFormExploded();
    {{/querySmartFormEncoder}}
    var t = this.queryTemplate;
    {{#queryParameters}}
    if (this.query.{{name}} != null) {
      t = t.bind("{{apiName}}", this.query.{{name}}, {{{encoder}}});
    }
    {{/queryParameters}}
    return t.toString();
  }

  /**
   * Return an HttpRequest which may be sent directly or further customized with the
   * {@link java.net.http.HttpRequest#newBuilder(java.net.http.HttpRequest, java.util.function.BiPredicate)}} static
   * function.
   */
  public java.net.http.HttpRequest httpRequest() {{#bodyFqpt}}throws com.fasterxml.jackson.core.JsonProcessingException{{/bodyFqpt}} {
    return java.net.http.HttpRequest.newBuilder()
      .uri(java.net.URI.create(this.baseUri + pathString() + queryString()))
      .method(
          "{{method}}",
          {{#bodyFqpt}}
          this.body == null
              ? java.net.http.HttpRequest.BodyPublishers.noBody()
              : java.net.http.HttpRequest.BodyPublishers.ofByteArray(
                  this.objectMapper.writeValueAsBytes(this.body))
          {{/bodyFqpt}}
          {{^bodyFqpt}}
          java.net.http.HttpRequest.BodyPublishers.noBody()
          {{/bodyFqpt}})
       {{#bodyFqpt}}
       .header("content-type", "application/json")
       {{/bodyFqpt}}
       {{#headers}}
       .header("{{apiName}}", {{{encoder}}}.encode("{{apiName}}", this.headers.{{name}}))
       {{/headers}}
      .build();
  }

  /**
   * Synchronously perform the HTTP request for this operation.
   */
  public {{{responseTypeName}}} sendSync() throws java.io.IOException, InterruptedException {
    return sendSync(httpRequest());
  }

  /**
   * Synchronously perform the HTTP request for a custom HttpRequest. You will typically
   * only use this API when the underlying OpenAPI specification is missing parameters
   * or other necessary components. Use the {@link #httpRequest()} method to get a
   * template HTTP request from this operation, customize it with
   * {@link java.net.http.HttpRequest#newBuilder(java.net.http.HttpRequest, java.util.function.BiPredicate)},
   * then use this method to dispatch it.
   */
  public {{{responseTypeName}}} sendSync(java.net.http.HttpRequest request)
      throws java.io.IOException, InterruptedException {
    var httpResponse = this.httpClient.send(
      request,
      java.net.http.HttpResponse.BodyHandlers.ofInputStream());
    return {{{responseTypeName}}}.fromHttpResponse(httpResponse, objectMapper);
  }

  {{#hasPathParameters}}
  public static class Path {
    private Path() {}

    {{#pathParameters}}
    private {{{fqpt}}} {{name}};
    public Path {{name}}({{{fqpt}}} {{name}}) {
      this.{{name}} = {{name}};
      return this;
    }
    {{/pathParameters}}
  }

  {{/hasPathParameters}}
  public static class Query {
    private Query() {}

    {{#queryParameters}}
    private {{{fqpt}}} {{name}};
    public Query {{name}}({{{fqpt}}} {{name}}) {
      this.{{name}} = {{name}};
      return this;
    }
    {{/queryParameters}}
  }

  public static class Headers {
    private Headers() {}

    {{#headers}}
    private {{{fqpt}}} {{name}};
    public Headers {{name}}({{{fqpt}}} {{name}}) {
      this.{{name}} = {{name}};
      return this;
    }
    {{/headers}}
  }
}
